footer {
  a {
    padding-right: 20px;
    text-decoration: none;
  }
}

footer {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.footer__links {
  text-align: center;
}

.footer__social {
  margin: 20px 0;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  footer {
      flex-direction: column;
  }
}
