$types: (
  pulseras: rgb(112, 65, 240),
  cadenas: rgb(63, 23, 172),
  relojes: rgb(28, 5, 92),
  anillos: rgb(16, 3, 51),
);

@each $type, $value in $types {
  .productos__title-section--#{$type} {
    color: $value;
  }
}

.productos__section {
  margin: 100px 20px 180px 20px;
  display: flex;
  justify-content: center;
}

.productos__carousel {
  width: 600px;
  height: 600px;
}

.productos__img {
  border-radius: 50%;
}

@media only screen and (max-width: 320px) {
  .productos__carousel {
    width: auto;
    height: auto;
  }

  .productos__section {
    margin: 30px 20px 80px 20px;
  }
}
